body {

}

.page {
    background-color: #282828;
}

.searchBox{
    margin: auto;
    height: 50px;
    width: 500px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 20px;
    outline: 0;
    border: 0;
    box-shadow: 2px 4px 6px;
}

